Makefile

*.pbc
p5*.c
*.exe
*.o
*.obj
*.iss
*.bak

blizkost
installable_blizkost

src/pmc/*.bundle
src/pmc/p5*.c
src/pmc/*.dll
src/pmc/*.dump
src/pmc/pmc*.h
src/pmc/*.o
src/pmc/*.obj
src/pmc/*.pdb
src/pmc/*.so
src/pmc/init_with_xs.*
src/pmc/blizkost_group.*

core*
*.sw?
