Makefile

*.pbc
*.c
*.exe
*.o
*.obj
*.iss

blizkost
installable_blizkost

src/pmc/*.bundle
src/pmc/*.c
src/pmc/*.dll
src/pmc/*.dump
src/pmc/*.h
src/pmc/*.o
src/pmc/*.obj
src/pmc/*.pdb
src/pmc/*.so

core*
*.sw?
